---
import Layout from "../components/layout.astro";
import Icon from "../components/assets/icon.astro";
---

<Layout
  title="Contact - Beatly"
  description="Have questions? We’re here to help — get in touch anytime"
>
  <div class="flex flex-col items-center justify-center h-dvh gap-6">
    <a class="animate-fade-down" style="animation-delay: 0.0s;" href="/">
      <Icon class="w-40 h-auto" />
    </a>

    <p
      class="text-2xl font-medium text-text animate-fade-down"
      style="animation-delay: 0.1s;"
    >
      Contact
    </p>
  </div>
</Layout>
