---
import Layout from "../components/layout.astro";
import Icon from "../components/assets/icon.astro";
---

<Layout
  title="Privacy Policy - Beatly"
  description="Learn how we protect your data and respects your privacy"
>
  <div class="flex flex-col items-center justify-center h-h-dvh-dvh gap-6">
    <a class="animate-fade-down" style="animation-delay: 0.0s;" href="/">
      <Icon class="w-40 h-auto" />
    </a>

    <p
      class="text-2xl font-medium text-text animate-fade-down"
      style="animation-delay: 0.1s;"
    >
      Privacy Policy
    </p>
  </div>
</Layout>
